/******* Inicio estilos generales *******/
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    background: #EFE8D2;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__logo img {
    height: 85px;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu ul li a {
    font-size: 25px;
    font-weight: 500;
    color: #9C8237;
    text-decoration: none;
    padding: 15px;
}
.menu ul li a:hover {
    font-weight: 600;
}

.container-fluid  {
    background-color: #EFE8D2;
}

.navbar {
    padding: 0 !important;
}

.titulo {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.footer {
    height: 80px;
    background: #EFE8D2;
    align-items: center;
    flex-wrap: wrap;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.footer__links {
    width: 11%;
    display:flex;
    justify-content: space-between;
}

.footer__links img { 
    width:25px;
}

.footer__p {
    display:flex;
    align-items: center;
    font-size: 60%;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-link{
    font-size: 25px;     
    color: #9C8237;
    text-decoration: none;
}

.menu-item {
    font-size: 25px;
    font-weight: 500;
    color: #9C8237;
    text-decoration: none;
}
.menu-item:hover {
    font-weight: 600;
}

/******* Fin estilos generales *******/

/******* Inicio estilos sección Home *******/
.banner_inicio {
    display: flex;
    padding-bottom: 50px;
}

.banner_inicio_izq {
    width: 47%;
    flex-direction:column;
    list-style: none;
    display:flex;
    justify-content: space-around;
    padding: 5%;
    font-family: 'Rubik', sans-serif;
}

.banner_inicio_izq h3 {
    font-size: 40px;
    font-weight: 500;
    color: #9C8237;
    font-family: 'Rubik', sans-serif;
}

.banner_inicio_izq p {
    font-size: 20px;
    font-weight: 500;
    color: #9C8237;
    font-family: 'Rubik', sans-serif;
}

.banner_inicio_izq button {
    font-weight: 500;
    background-color: #9C8237;
    padding: 10px 30px 10px 30px;
    border-radius: 5%;
    border-color: #9C8237;
}

.banner_inicio_izq a {
    text-decoration: none;
    color: #EFE8D2; 
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

.banner_inicio_izq a:hover {
    text-decoration: none;
    color: #EFE8D2;
    font-weight: bold; 
}

.banner_inicio_der {
    flex-direction:row;
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.banner_inicio_der_img1{
    width: 47%;
    border-radius: 65px 0px 0px 0px;
}

.banner_inicio_der_img2{
    width: 47%;
    border-radius: 0px 0px 0px 65px;
}

.banner_materiales{
    display: flex;
    flex-direction:column; 
    align-items: center;
}

.banner_materiales_titulo h3 {
    font-size: 30px;
    font-weight: 1000;
    color: #9C8237;
    font-family: 'Rubik', sans-serif;
}

.banner_materiales_img{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    animation: bounce; 
    animation-duration: 2s
}

.banner_materiales_img_item {
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: #9C8237;
    padding: 10px;
}

.banner_materiales img{
    width: 180px;
}

.banner_elegidos {
   background-color: #E4D8B4;
   display: flex;
   flex-direction:column; 
   align-items: center;
   padding: 20px;
}

.banner_elegidos h3 {
    font-size: 30px;
    font-weight: 1000;
    color: #9C8237;
    font-family: 'Rubik', sans-serif;
}
.banner_elegidos_img {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.banner_elegidos_img img {
    border-radius: 25px;
    padding: 10px;
}

/******* Fin estilos sección Home *******/

/******* Inicio estilos sección Catálogo *******/
.catalogo {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    align-content:stretch;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.catalogo__producto {
    display: flex; 
    flex-direction: column;
    margin: 10px;
    border: 1px solid #9C8237;
    padding: 5px;
    border-radius: 25px;
}

.catalogo__producto img {
    border-radius: 25px;
}

.catalogo__producto__descripcion {
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.catalogo__producto__descripcion__nombre {
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 0px;
}

.catalogo__producto__descripcion__precio {
    padding-top: 5px;
    margin-bottom: 0px; 
}

/******* Fin estilos sección Catálogo *******/

/******* Inicio estilos sección Nosotros *******/
.nosotros {
    flex-direction:row;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    width: auto;
    margin: 8px;
    
}

.nosotros img {
    width: 47%;
    border-radius: 25px;
    animation: backInRight; 
    animation-duration: 2s
}


.nosotros p {
    font-size: 25px;
    width: 47%;
    font-weight: 500;
    color: #9C8237;
    font-family: 'Rubik', sans-serif;
    animation: backInLeft; 
    animation-duration: 2s
}

/******* Fin estilos sección Nosotros *******/

/******* Inicio estilos sección Galería *******/

.galeria {
    flex-direction:row;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    flex-flow: wrap;
}

.galeria img {
    width: 47%;
    border-radius: 25px;
    padding: 10px;
    animation: fadeIn; 
    animation-duration: 3s; 
}

/******* Fin estilos sección Galería *******/

/******* Inicio estilos sección Contacto *******/

.formulario {
    flex-direction:row;
    list-style: none;
    display:flex;
    padding: 5%;
    justify-content: center;
    gap: 15rem;
}

.formulario__izquierdo {
    flex-direction:column;
    list-style: none;
    display:flex;
    animation: lightSpeedInRight; 
    animation-duration: 2s; 
}

.formulario__izquierdo img {
    width: 40px;
}

.formulario__izquierdo__item {
    flex-direction:row;
    list-style: none;
    display:flex;
}

.formulario__izquierdo__item p {
    font-weight: bold;
    margin: 10px;
}

.formulario__derecho {
    width: 30%;
}

.formulario__derecho__div {
    margin-bottom: 10px;
}

.formulario__derecho__div label {
    font-weight: bold;
    margin-bottom: 0px;
}

.formulario__derecho input {
    margin-top: 5px;
    width: 100%;
}

.formulario__derecho textarea {
    margin-top: 5px;
    width: 100%;
}

.boton {
    background-color: #EFE8D2;
    font-weight: bold;
}

/******* Inicio estilos sección Contacto *******/

.card{
    position: relative;
    width:400px;
    margin:50px;
    background-color: lightgreen;
    padding:20px;
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 34px -16px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 34px -16px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 34px -16px rgba(0,0,0,0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container{
    width:100%;
    height: 300px;
}
.img-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.card h2{
    font-size:26px;
    margin-bottom: 12px;
    text-align: center;
    color:white;
}

.card p{
    text-align: center;
    margin-bottom: 12px;
    color:white;
}

button{
    background-color: lightcoral;
    color:white;
}

.info-container{
    display: flex;
}
.info-container{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000;
    background-color: rgba(0,0,0,0.37);
    top: 0;
    left:0;
    width:100%;
    height:100%;
}

.card:hover {
    display: flex;
}

/******* Inicio estilos Mobile *******/

@media only screen and (min-width: 768px) {
    #carousel-materiales{
        display: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .banner_materiales{
        display: none;
    }
    .ancho-materiales{
        width: 55% !important;
        margin: auto;
    }
    .centrado {
        text-align: center;
        font-size: 17px;
        color: #9C8237;
        padding: 10px;
    }

    .banner_materiales_titulo {
        text-align: center;
    }

    .formulario {
        flex-direction: column;
        gap:unset;
    }

    .formulario__derecho {
        width: 100%;
        padding-bottom: 20px;
    }

    .formulario__izquierdo {
        padding-bottom: 20px;
    }

    .footer__links {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__links {
        padding-top: 10px;
    }

    .galeria {
        flex-direction: column;
        padding: 0;
    }

    .galeria img {
        width: 100%;
        padding:10px;
    }

    .navbar-nav {
        margin-right: auto!important;
    }

    .banner_inicio {
        flex-direction: column;
        padding: 10px;
    }
    
    .banner_inicio_izq {
        padding: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .banner_elegidos__productos{
        text-align: center;
    }

    .banner_elegidos__productos img{
        padding-bottom: 10px;
    }
    
    .nosotros {
        flex-direction: column;
        margin:0;
    }

    .nosotros img {
        width: 100%;
    }

    .nosotros p {
        width: 100%;
    }

    .contentedor div:nth-child(2) {
        flex-direction: column-reverse;
    }
}

/******* Fin estilos Mobile *******/