@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap");

$tipografia-principal: "Rubik";
$tipografia-secundaria: "sans-serif";

* {
  font-family: $tipografia-principal, $tipografia-secundaria;
}
