* {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
}

.titulo {
    @include flexbox(flex, row);
    justify-content: center;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .navbar-toggler {
        &:focus {
            color: $color-primario;
        }
    }

    .navbar-nav {
        margin-right: auto;
    }
}