body {
  overflow-x: hidden;
}

.nosotros {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 2fr;

  img {
    width: 85%;
    border-radius: 25px;
    animation: backInRight;
    animation-duration: 1s;
  }

  p {
    font-size: 25px;
    font-weight: 500;
    color: $color-primario;
    text-align: center;
    animation: backInLeft;
    animation-duration: 1s;
  }
}

.contenedor {
  margin: 20px 0 20px 0;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .nosotros {
    @include flexbox(flex, column);
    margin: 0;

    img {
      padding: 1rem;
      width: 100%;
    }

    p {
      width: 100%;
    }
  }

  .contenedor div:nth-child(2) {
    flex-direction: column-reverse;
  }
}
