.catalogo {
    padding-bottom: 20px;
}

.catalogo_flex {
    @include flexbox(flex, column);
}

.catalogo__producto {
    @extend .catalogo_flex;
    margin: 10px;
    border: 1px solid $color-primario;
    padding: 5px;
    border-radius: 25px;

    img {
        border-radius: 25px;
    }
}

.catalogo__producto__descripcion {
    @extend .catalogo_flex;
    text-align: center;
}


.catalogo__producto__descripcion__precio {
    padding-top: 5px;
    margin-bottom: 0px; 
}

.catalogo__producto__descripcion__nombre {
    @extend .catalogo__producto__descripcion__precio;
    font-weight: bold;
    font-size: 15px;
}
